/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fb;
    color:#222;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    border:none;
    font-family:inherit;
}

section{
    padding:70px 8%;
}

/* ===========================
   COLORS
=========================== */

:root{

--primary:#0b2a66;
--secondary:#ff7300;
--light:#ffffff;
--dark:#222;
--gray:#f5f7fb;
--shadow:0 10px 30px rgba(0,0,0,.08);
--radius:18px;

}
